@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: white;
  font-family: 'Press Start 2P', cursive;

}

.playArea {
  border: 5px solid transparent;
  width: 585px;
  height: 440px;
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fruit {
  display: none;
}

.monitor {
  width: 800px;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameOver {
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}

.playButton {
  position: fixed;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #502c7b;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 0.9em;
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.playButton:hover {

  color: rgb(0, 0, 0);
  background: #502c7b;

}

.resetUserButton {
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #502c7b;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 0.9em;
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.resetUserButton:hover {

  color: rgb(0, 0, 0);
  background: #502c7b;

}



.scoreBox {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  -webkit-box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  /* text-align: center; */
}

.scoreBox2 {
  position: fixed;
  text-align: center;

  top: 50%;
  right: 79%;
  transform: translateY(-50%);
  -webkit-box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  /* text-align: center; */
}

h2 {
  font-size: 18px;
  padding: 10px;
}